@font-face {
    font-family: 'minecraft-regular';
    src: url('/fonts/minecraft-regular.otf');
}
@font-face {
    font-family: 'minecraft-evening';
    src: url('/fonts/minecraft-evening.ttf');
}
body {
    background-image: url("/images/game-bg.png");
    background-color: rgba(255,255,255,0.1);
    background-blend-mode: lighten;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    font-family: 'minecraft-regular';
    font-size: 30px;
    color: beige;
    position: fixed;
    height: 700px;
    top: 30px;
    left: 1100px; 
    border: 3px solid #73AD21;
    align-items: center;
    min-width: 280px;
}
.sub-container{
    position: fixed;
    top: 120px;
    left: 1110px;
    min-width: 260px;
}
#restart-button {
    display: none;
    position: fixed;
    top: 580px;
    left: 1180px;
    min-width: 50px;
}

#back-to-lobby-button{
    position: fixed;
    top: 650px;
    left: 1180px;
    min-width: 50px;
}
.header {
    font-family: 'minecraft-evening';
    font-size: 80px;
    position: fixed;
    left: 1120px;
}
#player1-name{
    position: fixed;
    top: 150px;
    left: 1120px;
}
#heart1{
    position: fixed;
    top: 185px;
    left: 1120px;
}
#player1-lives{
    position: fixed;
    top: 200px;
    left: 1200px;
}
#feather-1{
    position: fixed;
    top: 250px;
    left: 1120px;
}
#player1-score{
    position: fixed;
    top: 260px;
    left: 1200px;
}
#player2-name{
    position: fixed;
    top: 400px;
    left: 1120px;
}
#heart2{
    position: fixed;
    top: 435px;
    left: 1120px;
}
#player2-lives{
    position: fixed;
    top: 450px;
    left: 1200px;
}
#feather-2{
    position: fixed;
    top: 500px;
    left: 1120px;
}
#player2-score{
    position: fixed;
    top: 510px;
    left: 1200px;
}
#defaultCanvas0 {
    width: 1024px;
    height: 768px;
    left: 50px;
    right: 50px;
}
.button {
    border: none;
    color: beige;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    background-color: #212121;
    opacity: 0.8;
    border: 0.15vw solid beige;
    border-radius: 1.5vw;
    position: fixed;
}
#back-to-lobby-button:hover{
    background-color: beige;
    color: black;
}
#restart-button:hover{
    background-color: beige;
    color: black;
}
#back-to-lobby-button{
    font-size: 2vw;
    font-family: 'minecraft-regular';
    text-align: center;
    width: 10vw;
    height: 6vh;
}
#restart-button{
    font-size: 1.5vw;
    font-family: 'minecraft-regular';
    text-align: center;
    width: 10vw;
    height: 6vh;
}
